#tableProjectListing-portfolioExtension {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

#tableProjectListing-portfolioExtension td, #tableProjectListing-portfolioExtension th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableProjectListing-portfolioExtension tr:nth-child(even){background-color: #f2f2f2;}

#tableProjectListing-portfolioExtension tr:hover {background-color: #ddd;}

#tableProjectListing-portfolioExtension th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: orange;;
    color: black;
}

#addNProject-portfolioExtension {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
}

#addNProject-portfolioExtension input[type="text"] {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
}

#addNProject-portfolioExtension textarea {
    width: 80%;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    margin-right: 10%;
    margin-left: 10%;
}

#addNProject-portfolioExtension input[type="submit"] {
    width: 60%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20%;
    margin-left: 20%;
}