.portfolio-main {
    width: 80%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.contactMeIntels {
    margin-top: 20px;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 25px;
}

.contactMeIntel-portfolioExtension {
    width: 80%;
    text-align: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.contactMeIntel-portfolioExtension input {
    width: 80%;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    margin-top: 10px;
}

.contactMeIntel-portfolioExtension textarea {
    width: 80%;
    height: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    margin-top: 10px;
    resize: none;
}

.contactMeIntels input[type="submit"] {
    width: 125px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}