.portfolio-contactMe-front {
    width: min-content;
    position: relative;
    left: 50%;
    transform: translate(-50%, 15%);
    border: 1px transparent;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sendFormContactMe {
    border-radius: 2px;
    background-color: orange;
    border: none;
    color: white;
    width: auto;
    height: 35px;
    margin-bottom: 55px;
}

.sendFormContactMe:hover {
    background-color: rgb(211, 137, 0);
    cursor: pointer;
}

.formContactMe {
    width: 320px;
    color: white;
    padding: 25px;
}

.formContactMe label {
    font-size: larger;
    font-weight: bold;
}

.formContactMe textarea:focus, .formContactMe input:focus{
    outline: none;
}

.nameContactForm {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: transparent;
    border-style: none none solid none;
    padding-bottom: 7px;
    border-color: gray;
    color: rgb(143, 143, 143);
}

.emailContactForm {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: transparent;
    border-style: none none solid none;
    padding-bottom: 7px;
    border-color: gray;
    color: rgb(143, 143, 143);
}

.msgContactForm {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    height: 150px;
    min-height: 150px;
    background-color: transparent;
    border-style: none none solid none;
    border-color: gray;
    color: rgb(143, 143, 143);
    font-size: smaller;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    resize: vertical;
}

.contactMe-left {
    background-color: #272a32;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contactMe-right {
    background-color: #1d1e22;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contactIntels {
    width: 320px;
    color: white;
    padding: 25px;
}

.otherIntel {
    display: block ruby;
    margin-bottom: 20px;
}

.descriptionOtherIntel {
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    display: block ruby;
}

.titleDescri {
    font-weight: bold;
    font-size: medium;
}

.contentDescri {
    font-size: small;
    color: rgb(143, 143, 143);
}

.descriContent {
    padding: 0;
    margin: 0;
}

.logoOtherIntel {
    /*transform: translateY(-100%);*/
    margin-right: 15px;
}

.mainContactIntels p{
    font-size: small;
    color: rgb(143, 143, 143);
}

.othersContactIntels {
    margin-top: 40px;
}
